 {% extends "AfiliadosBundle:Plantillas:layout1.html.twig" %} 
{% block title%}
    Primera Pagina
{% endblock %} 

 {% block body %}
    <div class="container">
        <h1> Portal Accord Salud</h1>
    </div>    
 
 {% endblock %}